# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# IDE and system files
.idea
*.iml
.DS_Store

# Instaladores grandes (se entregan por Moodle)
*.exe
*.run
